body{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    background-color: powderblue;
}

.t1 p, .t2 p{
    width: 40%;
    
    padding-left: 10px;
    font-size: large;
    float: left;
    color: darkblue;

}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: center;
}
h3 {
    color: darkblue;
}
caption{
    padding-top: 10px;
    font-size: large;
    color: #111111;
}

table {
    width: 50%;
    
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    float: left;
    clear: left;

}

th ,td{
    border-style: inset;
}
.t1 th, div.t1 td {
    border: 1px solid black;
    padding-left: 5px;
    text-align: center;
}

.t1 tr:nth-child(even) {
    background-color: darkgrey;
}
.menu ul{
    display: flex;
    background-color: #333333;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    flex-wrap: nowrap; 
}
.menu li a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px;
}
.menu li a:hover{
    background-color: #111111;
}