html,
body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: powderblue;
}
.abaixo{
    text-align: center;
    font-size: large;
    gap: 0px 0px;
}
.sobre {
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "p1 p2"
    "p3 p3"
    ". p4";
    
    
    font-size: large;

}
.sobre  p{
    border-style: dotted;
    text-align: center;
    
}
.p1{
    grid-area: p1;
}
.p2{
    grid-area: p2;
}
.p3 {
    grid-area: p3;
}
.p4{
    grid-area: p4;
}

.t1 p,
.t2 p {
    width: 40%;

    padding-left: 10px;
    font-size: large;
    float: left;
    color: darkblue;

}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: center;
}

h3 {
    color: darkblue;
}

caption {
    padding-top: 10px;
    font-size: large;
    color: #111111;
}

table {
    width: 50%;

    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
    float: left;
    clear: left;

}

th,
td {
    border-style: inset;
}

.t1 th,
div.t1 td {
    border: 1px solid black;
    padding-left: 5px;
    text-align: center;
}

.t1 tr:nth-child(even) {
    background-color: darkgrey;
}


header ul {
    
    display: flex;
   
        
    
    background-color: #333333;
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    
}

header li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 16px;
}

header li a:hover {
    background-color: #111111;
}